{% extends 'home/base.html' %}

{% block page_title %}{{ block.super }} Portfolio{% endblock %}

{% block nav_identifier %}
    <div class="nav-identifier" data-href="{% url 'portfolio:index' %}"></div>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        {% for solution in solutions %}
            <div class="row mb-5">
                <div class="card mx-auto" style="width: 32rem">
                    {% if solution.tags.all %}
                        <div class="card-header border-top-0 bg-white pb-1">
                            {% for tag in solution.tags.all %}
                                {% if tag.category == "LANGUAGE" %}
                                    <div class="btn btn-sm btn-outline-info mb-2" data-toggle="tooltip"
                                         title="{{ tag.category }}">{{ tag.name }}</div>
                                {% elif tag.category == "FRAMEWORK" %}
                                    <div class="btn btn-sm btn-outline-success mb-2" data-toggle="tooltip"
                                         title="{{ tag.category }}">{{ tag.name }}</div>
                                {% elif tag.category == "INTEGRATION" %}
                                    <div class="btn btn-sm btn-outline-warning mb-2" data-toggle="tooltip"
                                         title="{{ tag.category }}">{{ tag.name }}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <h3 class="card-title poppins-font">{{ solution.title }}</h3>
                        <p class="card-text pb-3 font-weight-light text-secondary">{{ solution.description }}</p>
                        <a href="{% url 'portfolio:solution_detail' solution.pk %}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}