{% extends 'home/base.html' %}

{% block title %}About Brian{% endblock %}

{% block content %}

    <div class="jumbotron bg-light-gradient">
        <div class="container">
            <div class="row">
                <div class="col-8 offset-2">
                    <h1 class="text-dark">About Me</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h4 class="text-dark font-weight-light py-4">Who is Brian Jones?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris faucibus lacus non diam sodales,
                    sagittis mollis quam porta. Mauris mattis, risus eu tempor fermentum, risus neque luctus risus, eget
                    mattis nisi ante rhoncus nisl. Curabitur erat nulla, lobortis quis vehicula cursus, pellentesque at
                    enim. Proin leo nisi, egestas eu rhoncus vitae, venenatis ac ipsum. Aenean sed finibus eros. Proin
                    vel lorem at eros vehicula interdum in et nibh. Pellentesque habitant morbi tristique senectus et
                    netus et malesuada fames ac turpis egestas. Nulla commodo leo eu lacus faucibus tristique volutpat
                    et tellus. Etiam aliquet laoreet lorem, a lobortis arcu. Proin vitae dui sed nunc efficitur
                    efficitur vitae in mauris. Nunc eget luctus sem.</p>
            </div>
        </div>
    </div>

{% endblock %}