{% extends 'home/base.html' %}

{% block page_title %}{{ block.super }} About{% endblock %}

{% block nav_identifier %}
    <div class="nav-identifier" data-href="{% url 'home:about' %}"></div>
{% endblock %}

{% block content %}
    <div class="jumbotron bg-light-gradient">
        <div class="container">
            <div class="row">
                <div class="col-8 offset-2">
                    <h1 class="text-dark text-center">About Me</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h4 class="text-dark text-left font-weight-light py-4">I take <span class="font-weight-bold">common</span> business <span class="font-weight-bold">processes</span></h4>
                <h1 class="text-dark text-right font-weight-light py-4">and <span class="font-weight-bold">improve</span> them</h1>
                <h2 class="text-dark text-center font-weight-light py-4">by adding <span class="font-weight-bold">ingredients</span> of <span class="font-weight-bold">automation</span></h2>
            </div>
        </div>
    </div>
{% endblock %}