{% load static %}

{% with site_title="BJones Tech" nav_title="Brian Jones" %}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <title>{{ site_title }} {% block page_title %}|{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="{% static 'home/css/mysite-bootstrap.css' %}"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
        <script src="{% static 'home/js/mysite.js' %}"></script>
    </head>

    <body>

    <nav class="navbar navbar-expand-md bg-dark-gradient navbar-light">
        <a class="navbar-brand" href="{% url 'home:index' %}">{{ nav_title }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home:about' %}">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'blog:index' %}">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home:contact' %}">Contact</a>
                </li>
            </ul>
        </div>
    </nav>

    {% block nav_identifier %}{% endblock %}

    {% block content %}{% endblock %}

    </body>
    </html>
{% endwith %}
