{% extends 'home/base.html' %}

{% block page_title %}{{ block.super }} Contact{% endblock %}

{% block nav_identifier %}
    <div class="nav-identifier" data-href="{% url 'home:contact' %}"></div>
{% endblock %}

{% block content %}
    <div class="jumbotron bg-light-gradient">
        <div class="container">
            <div class="row">
                <div class="col-8 offset-2">
                    <h1 class="text-dark text-center font-weight-light">Thank you for visiting my site!</h1>
                </div>
            </div>
        </div>
    </div>

    {% with email_alias="brian" email_domain="bjones.tech" %}
        <div class="container">
            <div class="row">
                <div class="col-8 offset-2">
                    <h2 class="text-dark text-center p-4" style="font-weight: 600;">
                        {{ email_alias }}<i class="fas fa-at text-info"></i>{{ email_domain }}
                    </h2>
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock %}