{% extends 'home/base.html' %}

{% block page_title %}{{ block.super }} Contact{% endblock %}

{% block nav_identifier %}
    <div class="nav-identifier" data-href="{% url 'home:contact' %}"></div>
{% endblock %}

{% block content %}
    <div class="jumbotron bg-light-gradient border-0">
        <div class="container">
            <div class="row">
                <div class="col-8 offset-2">
                    <h1 class="text-dark text-center font-weight-light">Thank you for visiting my site!</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h2 class="text-dark text-center p-4" style="font-weight: 600;">brian<i class="fas fa-at text-info"></i>bjones.tech
                </h2>
            </div>
        </div>
    </div>
{% endblock %}