{% extends 'home/base.html' %}

{% block page_title %}{{ block.super }} Blog | {{ post.title }}{% endblock %}

{% block nav_identifier %}
    <div class="nav-identifier" data-href="{% url 'blog:index' %}"></div>
{% endblock %}

{% block content %}
    {% if post.content_type == "DOCUMENT" %}
        <div class="jumbotron bg-light-gradient">
            <div class="container">
                <div class="row">
                    <div class="col-8 offset-2">
                        <h1 class="text-dark">{{ post.title }}</h1>
                    </div>
                </div>
            </div>
        </div>
    {% elif post.content_type == "VIDEO" %}
        <div class="mb-4">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark">
                <h6 class="text-white font-weight-light mt-1 mx-0">{{ post.title }}</h6>
            </nav>
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            <div class="col-8 offset-2 mt-4 mb-5 text-justify text-secondary font-weight-light">{{ post.content|safe }}</div>
        </div>
    </div>
{% endblock %}