{% extends 'home/base.html' %}

{% block title %}Brian's Blog{% endblock %}

{% block content %}

    <div class="container">
        <div class="row mt-5">
            <div class="card mx-auto" style="width: 28rem;">
                <div class="card-body">
                    <h3 class="card-title">Identifying a Passion</h3>
                    <p class="card-text pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique
                        vestibulum ex, condimentum tristique justo venenatis sit amet.</p>
                    <div class="row">
                        <div class="col">
                            <a href="#" class="btn btn-primary">Read</a>
                        </div>
                        <div class="col text-right">
                            <small class="font-weight-light position-absolute fixed-bottom" style="right: 1rem;">Posted
                                March 1, 2018
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="card mx-auto" style="width: 28rem;">
                <div class="card-body">
                    <h3 class="card-title">Automate a Better Experience</h3>
                    <p class="card-text pb-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tristique
                        vestibulum ex, condimentum tristique justo venenatis sit amet.</p>
                    <div class="row">
                        <div class="col">
                            <a href="#" class="btn btn-success">Watch</a>
                        </div>
                        <div class="col text-right">
                            <small class="font-weight-light position-absolute fixed-bottom" style="right: 1rem;">Posted
                                March 1, 2018
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}