{% extends 'home/base.html' %}

{% block page_title %}{{ block.super }} Blog{% endblock %}

{% block nav_identifier %}
    <div class="nav-identifier" data-href="{% url 'blog:index' %}"></div>
{% endblock %}

{% block content %}
    <div class="container">
        {% for post in posts %}
            <div class="row mt-5">
                <div class="card mx-auto" style="width: 32rem;">
                    <div class="card-body">
                        <h3 class="card-title">{{ post.title }}</h3>
                        <p class="card-text pb-3 font-weight-light text-secondary">{{ post.description }}</p>
                        <div class="row">
                            <div class="col">
                                {% if post.content_type == 'DOCUMENT' %}
                                    <a href="{% url 'blog:detail' post.pk %}" class="btn btn-primary">Read</a>
                                {% elif post.content_type == 'VIDEO' %}
                                    <a href="{% url 'blog:detail' post.pk %}" class="btn btn-success">Watch</a>
                                {% endif %}
                            </div>
                            <div class="col text-right">
                                <small class="font-weight-light position-absolute fixed-bottom" style="right: 1rem;">
                                    Published <span style="font-weight: 500;">{{ post.publish_date|date }}</span>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}